<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 仅 debug:为了经 adb reverse 从本地 http 服务器试跑抠图运行时。 -->
    <application android:usesCleartextTraffic="true" tools:ignore="UnusedAttribute" />
</manifest>
